language: scala

scala:
  - 2.10.5

jdk:
  - oraclejdk8

branches:
  only:
    - master

before_script:
  - "if [ $TRAVIS_PULL_REQUEST = 'false' ]; then git checkout -qf $TRAVIS_BRANCH; fi"

script:
  - "if [ $TRAVIS_PULL_REQUEST = 'false' ]; then sbt 'release with-defaults'; else sbt validate ; fi"
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/scala-$TRAVIS_SCALA_VERSION

env:
  global:
    - secure: "fIF50rjcQc92dkCBjX3IoGR2X6hppDV/q3Oven6ExBvRdlS2E/8/OM72fNyik7FVcKE8aZaFFubLhDs+BYUgryevi9llgnx/cgqlLoZ5vO0bho8ReB7YNuoLM1s0bXoBxxZhrGfEBbgPj6BrkAlBs60rAA+qZKyyVA/rGcEiy8Q="
    - secure: "CR0s3GeZ+ugsYBM8EsSMlrLtL8OWOJESwtTO6J6CVt/8+GSK8r3C+zqVIEuFAECpPWPXoeMKmoNIV0EVTtiRaeHyIZTiw75Znva2Hd5CfB1Fa8nRsdNNEXQk5wRHkwcZz7bMok1Y2EuKfcczrWWyUPomUCbs5M9GPjCrmuDqr0Q="
